<div class="container">
  <!--Card-->
  <mdb-card class="testimonial-card">
    <!--Bacground color-->
    <div class="card-up aqua-gradient">
    </div>

    <!--Avatar-->
    <div class="avatar mx-auto">
      <img src="{{user.avatar_url}}" class="rounded-circle">
    </div>

    <mdb-card-body class="text-center">
      <!--Name-->
      <mdb-card-title>
        <h4><strong class="mr-1">{{user.name}}</strong>  <a href="{{user.html_url}}"><mdb-icon fab icon="github"></mdb-icon></a></h4>
      </mdb-card-title>
      <div class="bio">
        <p class="text-muted">{{user.login}}</p>
        <p>{{user.bio}}</p>
        <p><mdb-icon class="mr-1" far icon="building"></mdb-icon>{{user.company}}</p>
        <p><mdb-icon class="mr-1" fas icon="link"></mdb-icon> <a href="{{user.blog}}">{{user.blog}}</a></p>
        <p><mdb-icon class="mr-1" fas icon="map-marker-alt"></mdb-icon>{{user.location}}</p>
        <p class="text-muted">Since {{user.created_at | timeAgo}}</p>
      </div>
        <hr>
      <div class="profile-details mt-4">
        <ul class="nav nav-tabs md-tabs nav-justified " role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#repos" role="tab">
              <mdb-icon fas icon="book" class="mr-1"></mdb-icon>Repositories<mdb-badge pill="true" default="true" class="ml-1" color="indigo">{{user.public_repos}}</mdb-badge></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#followers" role="tab">
              <mdb-icon fas icon="user-friends" class="mr-1"></mdb-icon>Followers<mdb-badge pill="true" default="true" class="ml-1" color="indigo">{{user.followers}}</mdb-badge></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#following" role="tab">
              <mdb-icon fas icon="users" class="mr-1"></mdb-icon>Following<mdb-badge pill="true" default="true" class="ml-1" color="indigo">{{user.following}}</mdb-badge></a>
          </li>
        </ul>
    
        <!-- TABS -->
        <div class="tab-content">
          <!-- REPOS TAB -->
          <div class="tab-pane fade in show active mt-3"  id="repos" role="tabpanel">
            <div *ngFor="let repo of repos,let i=index">
              <div class="container mt-2">
                <mdb-card cascade="true" narrower="true" >
  
                  <div [appFocusRepo] class="view view-cascade  gradient-card-header blue-gradient">
                    <h2 class="card-header-title">{{repo.name}}</h2>
                    <p><mdb-badge color="cyan">{{repo.language}}</mdb-badge></p>
                    <div class="text-center">
                      <mdb-badge pill="true" color="purple">
                        <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>{{repo.watchers}}
                      </mdb-badge>
                      <mdb-badge pill="true" color="purple">
                        <mdb-icon fas icon="code-branch" class="mr-1"></mdb-icon>{{repo.forks}}
                      </mdb-badge>
                      <a href="{{repo.html_url}}">
                        <mdb-badge pill="true" color="purple">
                          <mdb-icon fab icon="github" class="mr-1"></mdb-icon><mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </mdb-badge>
                      </a>
                   
                    </div>
                    <p class="mb-0 mt-2"><i class="far fa-calendar mr-2"></i>{{repo.updated_at | timeAgo}}</p>
                  </div>
            
                  <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
            
                    <mdb-card-text>{{repo.description}}</mdb-card-text>
            
                  </mdb-card-body>
                  <!--/.Card content-->
            
                </mdb-card>
              </div>
            </div>
           
          </div>
          <!-- FOLLOWERS TAB -->
          <div class="tab-pane fade text-center row mt-3" id="followers" role="tabpanel">
            <div class="chip teal lighten-2 white-text col-6 ">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-2">Jane Doe
              <a class="btn-floating btn-small mr-3 btn-fb waves-effect waves-light">
                <mdb-icon fab icon="github"></mdb-icon>
              </a>
            </p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
          </div>
          <!-- FOLLOWERING TAB -->
          <div class="tab-pane fade row mt-3" id="following" role="tabpanel">
            <div class="chip teal lighten-2 white-text col-6">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>

          </div>
        </div>
      </div>
      
  
    </mdb-card-body>
  </mdb-card>
  <!--/.Card-->
  

</div>