<div class="container">
  <!--Card-->
  <mdb-card class="testimonial-card">
    <!--Bacground color-->
    <div class="card-up aqua-gradient">
    </div>

    <!--Avatar-->
    <div class="avatar mx-auto">
      <img src="https://avatars0.githubusercontent.com/u/67784426?v=4" class="rounded-circle">
    </div>

    <mdb-card-body class="text-center">
      <!--Name-->
      <mdb-card-title>
        <h4><strong class="mr-1">Dennis Kamunya</strong>  <a href=""><mdb-icon fab icon="github"></mdb-icon></a></h4>
      </mdb-card-title>
      <div class="bio">
        <p class="text-muted">D-Kamunya</p>
        <p>ReactJs | Flutter | Laravel | PHP | Angular | Python| JavaScript | React Native | GCP | Firebase</p>
        <p><mdb-icon class="mr-1" far icon="building"></mdb-icon>Kinc Developers</p>
        <p><mdb-icon class="mr-1" fas icon="link"></mdb-icon> <a href="">gtggaga</a></p>
        <p><mdb-icon class="mr-1" fas icon="map-marker-alt"></mdb-icon>Nairobi,Kenya</p>
      </div>
        <hr>
      <div class="profile-details mt-4">
        <ul class="nav nav-tabs md-tabs nav-justified " role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#repos" role="tab">
              <mdb-icon fas icon="book" class="mr-1"></mdb-icon>Repositories<mdb-badge pill="true" default="true" class="ml-1" color="indigo">0</mdb-badge></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#followers" role="tab">
              <mdb-icon fas icon="user-friends" class="mr-1"></mdb-icon>Followers<mdb-badge pill="true" default="true" class="ml-1" color="indigo">0</mdb-badge></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#following" role="tab">
              <mdb-icon fas icon="users" class="mr-1"></mdb-icon>Following<mdb-badge pill="true" default="true" class="ml-1" color="indigo">0</mdb-badge></a>
          </li>
        </ul>
    
        <div class="tab-content">
          <div class="tab-pane fade in show active mt-3" id="repos" role="tabpanel">
            <div class="container mt-2">
              <mdb-card cascade="true" narrower="true">

                <div class="view view-cascade  gradient-card-header blue-gradient">
                  <h2 class="card-header-title">Calculator App</h2>
                  <p><mdb-badge color="cyan">JavaScript</mdb-badge></p>
                  <div class="text-center">
                    <!--Facebook-->
                    <mdb-badge pill="true" color="purple">
                      <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>0
                    </mdb-badge>
                    <mdb-badge pill="true" color="purple">
                      <mdb-icon fas icon="code-branch" class="mr-1"></mdb-icon>0
                    </mdb-badge>
                    <a href="">
                      <mdb-badge pill="true" color="purple">
                        <mdb-icon fab icon="github" class="mr-1"></mdb-icon><mdb-icon fas icon="angle-double-right"></mdb-icon>
                      </mdb-badge>
                    </a>
                 
                  </div>
                  <p class="mb-0 mt-2"><i class="far fa-calendar mr-2"></i>26.07.2017</p>
                </div>
          
                <mdb-card-body cascade="true" class="text-center">
                  <!--Card content-->
          
                  <mdb-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                    sunt, quod
                    quibusdam
                    dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium veritatis sequi.Ut enim
                    ad
                    minima
                    veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
                  </mdb-card-text>
          
                </mdb-card-body>
                <!--/.Card content-->
          
              </mdb-card>
            </div>
            <div class="container mt-2">
              <mdb-card cascade="true" narrower="true">

                <div class="view view-cascade  gradient-card-header blue-gradient">
                  <h2 class="card-header-title">Mattonit</h2>
                  <p>The Boar</p>
                  <div class="text-center">
                    <!--Facebook-->
                    <a type="button" mdbBtn floating="true" size="sm" class="waves-light" mdbWavesEffect>
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <!--Twitter-->
                    <a type="button" mdbBtn floating="true" size="sm" class="waves-light" mdbWavesEffect>
                      <i class="fab fa-twitter"></i>
                    </a>
                    <!--Google +-->
                    <a type="button" mdbBtn floating="true" size="sm" class="btn-floating waves-light" mdbWavesEffect>
                      <i class="fab fa-google-plus"></i>
                    </a>
                  </div>
                </div>
          
                <mdb-card-body cascade="true" class="text-center">
                  <!--Card content-->
          
                  <mdb-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                    sunt, quod
                    quibusdam
                    dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium veritatis sequi.Ut enim
                    ad
                    minima
                    veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
                  </mdb-card-text>
          
                </mdb-card-body>
                <!--/.Card content-->
          
              </mdb-card>
            </div>
            
            
          </div>

          <div class="tab-pane fade text-center row mt-3" id="followers" role="tabpanel">
            <div class="chip teal lighten-2 white-text col-6 ">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-2">Jane Doe
              <a class="btn-floating btn-small mr-3 btn-fb waves-effect waves-light">
                <mdb-icon fab icon="github"></mdb-icon>
              </a>
            </p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
          </div>
          <div class="tab-pane fade row mt-3" id="following" role="tabpanel">
            <div class="chip teal lighten-2 white-text col-6">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>
            <div class="chip teal lighten-2 white-text col-6 mt-3">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
              <p class="mt-1">Jane Doe</p> 
            </div>

          </div>
        </div>
      </div>
      
  
    </mdb-card-body>
  </mdb-card>
  <!--/.Card-->
  

</div>