<div class="search-repo container">
  <form (ngSubmit)='searchRepo()' name="searchRepoForm" #searchRepoForm="ngForm" class="form-inline md-form mb-5 mt-5 form-sm">
    <input name="searchrepo" #searchrepo="ngModel" [(ngModel)]='reponame' class="form-control form-control-sm" type="text" placeholder="Search GitHub Repository" aria-label="Search">
    <button class="btn aqua-gradient btn-rounded btn-sm mr-auto waves-effect waves-light" type="submit"> <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon></button>
  </form>
    <div *ngFor="let repo of repos;let i=index">
      <div class="mx-auto mb-3 repo">
        <!--Card-->
        <mdb-card cascade="true" wider="true">
  
          <div class="view view-cascade  gradient-card-header blue-gradient">
            <h2 class="card-header-title">{{repo.name}}</h2>
            <a href="{{repo.owner.login}}"><mdb-badge color="cyan">{{repo.owner.login}}</mdb-badge></a>
            <p><mdb-badge color="cyan">{{repo.language}}</mdb-badge></p>
            <div class="text-center">
              <!--Facebook-->
              <mdb-badge pill="true" color="purple">
                <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>{{repo.watchers}}
              </mdb-badge>
              <mdb-badge pill="true" color="purple">
                <mdb-icon fas icon="code-branch" class="mr-1"></mdb-icon>{{repo.forks}}
              </mdb-badge>
              <a href="{{repo.html_url}}">
                <mdb-badge pill="true" color="purple">
                  <mdb-icon fab icon="github" class="mr-1"></mdb-icon><mdb-icon fas icon="angle-double-right"></mdb-icon>
                </mdb-badge>
              </a>
           
            </div>
            <p class="mb-0 mt-2"><i class="far fa-calendar mr-2"></i>{{repo.updated_at}}</p>
          </div>
  
          <mdb-card-body cascade="true" class="text-center">
  
            <mdb-card-text>{{repo.description}} </mdb-card-text>
  
          </mdb-card-body>
          <!--/.Card content-->
  
        </mdb-card>
        <!--/.Card-->
      </div>
    </div>
   
</div>
