<div class="search-user">
    <form (ngSubmit)='searchUser()' name="searchUserForm" #searchUserForm="ngForm" class="form-inline md-form mb-5 mt-5 form-sm">
      <input name="searchuser" #searchuser="ngModel" [(ngModel)]='username' class="form-control form-control-sm" type="text" placeholder="Search GitHub User" aria-label="Search">
      <button class="btn aqua-gradient btn-rounded btn-sm mr-auto waves-effect waves-light" type="submit"> <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon></button>
    </form>
  <app-g-connect-user *ngIf='userrepos' [user]='user' [repos]='userrepos' [followers]='userfollowers' [followings]='userfollowing'></app-g-connect-user>
  <app-error *ngIf='errors' [name]='searchName'></app-error>
</div>
